bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.DS_Store
/.vs
AirClipApp.sln.DotSettings.user
.idea/.idea.AirClipApp/.idea/avalonia.xml
.idea/.idea.AirClipApp/.idea/avalonia.xml
.idea/.idea.AirClipApp/.idea/avalonia.xml
AirClipApp.sln.DotSettings.user
AirClipApp.sln.DotSettings.user
